In [1]:
import numpy as np
import pandas as pd

In [3]:
player_info = pd.read_csv('common_player_info.csv')
player_stats = pd.read_csv('Player Totals.csv')

In [11]:
# using only necessary columns/deleting not necessary columns 
player_info_cleaned = player_info[['display_first_last', 'birthdate', 'height', 'weight', 'position', 'draft_number']]
player_info_cleaned = player_info_cleaned.rename(columns={'display_first_last':'player'})

In [15]:
player_stats_cleaned = player_stats.drop(columns = ['seas_id','player_id', 'pos', 'lg'])

In [16]:
player_stats_cleaned

,season,player,birth_year,age,experience,tm,g,gs,mp,fg,...,ft_percent,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,2024,A.J. Green,NaN,24.0,2,MIL,56,0.0,614.0,83,...,0.895,9.0,55.0,64.0,30,9.0,4.0,12.0,49,252
1,2024,A.J. Lawson,NaN,23.0,2,DAL,42,0.0,311.0,54,...,0.652,14.0,36.0,50.0,20,10.0,3.0,14.0,22,136
2,2024,AJ Griffin,NaN,20.0,2,ATL,20,0.0,171.0,18,...,1.000,2.0,16.0,18.0,5,1.0,2.0,8.0,6,48
3,2024,Aaron Gordon,NaN,28.0,10,DEN,73,73.0,2297.0,398,...,0.658,174.0,297.0,471.0,259,56.0,45.0,105.0,142,1013
4,2024,Aaron Holiday,NaN,27.0,6,HOU,78,1.0,1269.0,186,...,0.921,23.0,100.0,123.0,140,42.0,6.0,53.0,125,514
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31865,1947,Walt Miller,NaN,31.0,1,PIT,12,NaN,NaN,7,...,0.500,NaN,NaN,NaN,6,NaN,NaN,NaN,16,23
31866,1947,Warren Fenley,NaN,24.0,1,BOS,33,NaN,NaN,31,...,0.511,NaN,NaN,NaN,16,NaN,NaN,NaN,59,85
31867,1947,Wilbert Kautz,NaN,31.0,1,CHS,50,NaN,NaN,107,...,0.534,NaN,NaN,NaN,37,NaN,NaN,NaN,114,253
31868,1947,Woody Grimshaw,NaN,27.0,1,PRO,21,NaN,NaN,20,...,0.477,NaN,NaN,NaN,1,NaN,NaN,NaN,25,61
31869,1947,Wyndol Gray,NaN,24.0,1,BOS,55,NaN,NaN,139,...,0.581,NaN,NaN,NaN,47,NaN,NaN,NaN,105,350

In [19]:
player_info_cleaned

,player,birthdate,height,weight,position,draft_number
0,Alaa Abdelnaby,1968-06-24 00:00:00,6-10,240.0,Forward,25
1,Kareem Abdul-Jabbar,1947-04-16 00:00:00,7-2,225.0,Center,1
2,Tariq Abdul-Wahad,1974-11-03 00:00:00,6-6,235.0,Forward-Guard,11
3,Shareef Abdur-Rahim,1976-12-11 00:00:00,6-9,245.0,Forward,3
4,Tom Abernethy,1954-05-06 00:00:00,6-7,220.0,Forward,43
...,...,...,...,...,...,...
4166,Paul Zipser,1994-02-18 00:00:00,6-8,226.0,Forward,48
4167,Ante Zizic,1997-01-04 00:00:00,6-10,266.0,Center,23
4168,Jim Zoet,1953-12-30 00:00:00,7-1,240.0,Center,Undrafted
4169,Ivica Zubac,1997-03-18 00:00:00,7-0,240.0,Center,32
4170,Matt Zunic,1919-12-19 00:00:00,6-3,195.0,Guard,NaN

In [17]:
data = pd.merge(player_stats_cleaned,player_info_cleaned,on='player',how='inner')

In [18]:
data

,season,player,birth_year,age,experience,tm,g,gs,mp,fg,...,stl,blk,tov,pf,pts,birthdate,height,weight,position,draft_number
0,2024,A.J. Lawson,NaN,23.0,2,DAL,42,0.0,311.0,54,...,10.0,3.0,14.0,22,136,2000-07-15 00:00:00,6-6,179.0,Guard,Undrafted
1,2024,AJ Griffin,NaN,20.0,2,ATL,20,0.0,171.0,18,...,1.0,2.0,8.0,6,48,2003-08-25 00:00:00,6-6,220.0,Forward,16
2,2024,Aaron Gordon,NaN,28.0,10,DEN,73,73.0,2297.0,398,...,56.0,45.0,105.0,142,1013,1995-09-16 00:00:00,6-8,235.0,Forward,4
3,2024,Aaron Holiday,NaN,27.0,6,HOU,78,1.0,1269.0,186,...,42.0,6.0,53.0,125,514,1996-09-30 00:00:00,6-0,185.0,Guard,23
4,2024,Aaron Nesmith,NaN,24.0,4,IND,72,47.0,1995.0,315,...,65.0,49.0,64.0,241,877,1999-10-16 00:00:00,6-5,215.0,Guard-Forward,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25263,1947,Tony Kappen,NaN,27.0,1,BOS,18,NaN,NaN,25,...,NaN,NaN,NaN,17,74,1919-04-13 00:00:00,5-10,165.0,Guard,Undrafted
25264,1947,Virgil Vaughn,NaN,28.0,1,BOS,17,NaN,NaN,15,...,NaN,NaN,NaN,18,45,1918-05-15 00:00:00,6-4,205.0,Forward,Undrafted
25265,1947,Walt Miller,NaN,31.0,1,PIT,12,NaN,NaN,7,...,NaN,NaN,NaN,16,23,1915-07-30 00:00:00,6-2,190.0,Forward,Undrafted
25266,1947,Wilbert Kautz,NaN,31.0,1,CHS,50,NaN,NaN,107,...,NaN,NaN,NaN,114,253,1915-09-07 00:00:00,5-11,180.0,Guard,Undrafted
25267,1947,Wyndol Gray,NaN,24.0,1,BOS,55,NaN,NaN,139,...,NaN,NaN,NaN,105,350,1922-03-20 00:00:00,6-1,175.0,Guard,Undrafted